/* Supprimer marges et padding pour occuper toute la page */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Empêche le défilement */
}

/* La carte prend 100% de la page */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 100% de la hauteur de l'écran */
}

/* Style de la légende */
.info.legend {
    padding: 12px;
    font-size: 14px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    color: black;
}

.info.legend i {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ddd;
}

/* Style du titre */
#titre {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}
